.users-dashboard {
  /*
   * Off Canvas
   * --------------------------------------------------
   */
  @media screen and (max-width: 768px) {
    .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
      right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
      left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
      right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
      left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 50%; /* 6 columns */
    }
  }

  .toggle-canvas {
    text-align: left;
  }

  a:hover {
    cursor: pointer;
  }

  @include navbar-dashboard;

  .songs-container {
    margin-top: 10px;
    .songs-controls {
      h1 {
        float: left;
        padding-top: 8px;
        font-size: 1.5em;
        margin: 0px;
      }
      .controls {
        float: right;
      }
    }

    .songs-list {
      padding: 0px;
      .menu {
        padding: 5px;
      }
      @include song;
    }
  }
}