.users-dashboard, .users-favorites, .users-archives {
  @include off-canvas;

  .toggle-canvas {
    text-align: left;
  }

  a:hover {
    cursor: pointer;
  }

  @include navbar-dashboard;
  @include sidebar-dashboard;

  .songs-container {
    margin-top: 10px;
    .songs-controls {
      h1 {
        float: left;
        padding-top: 8px;
        font-size: 1.5em;
        margin: 0px;
      }
      .controls {
        float: right;
      }
    }

    .songs-list {
      padding: 0px;
      .menu {
        padding: 5px;
      }
      @include song;
    }
  }
}
