@mixin sidebar-dashboard {
  .sidebar-nav {
    .count {
      color: #555;
    }
    li {
      padding-left: 10px;
      padding-right: 10px;
    }
    li.active {
      background-color: #e7e7e7;
    }
  }
}
