//= require bootstrap.min
//= require_tree ./application
//= require_tree ./pages

@charset 'utf-8';
@import 'bourbon';
@import 'neat';

ul, ol {
  list-style: none;
}

.margin-top {
  margin-top: 1em;
}

.hide {
  display: none;
}